.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }

    @include clearfix;
// ^ symbol here means starts with
    [class^="col-"]{
        float:left;
        
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    .col-1-of-2{
        width: #{$col-1-of-2-width};
        background-color: orangered;
    }
    .col-1-of-3{
        width: #{$col-1-of-3-width};
        background-color: orange;
        
    }
    .col-2-of-3{
        width: $col-2-of-3-width;
        background-color: yellow;
    }
}


