*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}
/* 1rem = root pixels AKA 1rem = 10px */
/* best practice is to set as a percentage */
html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    // background-color: $color-primary-light;
}